<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wander.cmis.mapper.ExchangeShareholderMapper">
  <resultMap id="BaseResultMap" type="com.wander.cmis.entity.ExchangeShareholder">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="LOANAPPLYID" jdbcType="VARCHAR" property="loanapplyid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="IDNO" jdbcType="VARCHAR" property="idno" />
    <result column="SHAREAMT" jdbcType="NUMERIC" property="shareamt" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="GDBH" jdbcType="NUMERIC" property="gdbh" />
    <result column="UNIT_NO" jdbcType="NUMERIC" property="unitNo" />
    <result column="QDCZBS" jdbcType="VARCHAR" property="qdczbs" />
    <result column="QDCZBSMS" jdbcType="VARCHAR" property="qdczbsms" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, LOANAPPLYID, NAME, IDNO, SHAREAMT, MOBILE, GDBH, UNIT_NO, QDCZBS, QDCZBSMS
  </sql>
  <select id="selectByExample" parameterType="com.wander.cmis.entity.ExchangeShareholderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from EXCHANGE_SHAREHOLDER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from EXCHANGE_SHAREHOLDER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from EXCHANGE_SHAREHOLDER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wander.cmis.entity.ExchangeShareholderExample">
    delete from EXCHANGE_SHAREHOLDER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wander.cmis.entity.ExchangeShareholder">
    insert into EXCHANGE_SHAREHOLDER (ID, LOANAPPLYID, NAME, 
      IDNO, SHAREAMT, MOBILE, 
      GDBH, UNIT_NO, QDCZBS, 
      QDCZBSMS)
    values (#{id,jdbcType=VARCHAR}, #{loanapplyid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{idno,jdbcType=VARCHAR}, #{shareamt,jdbcType=NUMERIC}, #{mobile,jdbcType=VARCHAR}, 
      #{gdbh,jdbcType=NUMERIC}, #{unitNo,jdbcType=NUMERIC}, #{qdczbs,jdbcType=VARCHAR}, 
      #{qdczbsms,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wander.cmis.entity.ExchangeShareholder">
    insert into EXCHANGE_SHAREHOLDER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="loanapplyid != null">
        LOANAPPLYID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="idno != null">
        IDNO,
      </if>
      <if test="shareamt != null">
        SHAREAMT,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="gdbh != null">
        GDBH,
      </if>
      <if test="unitNo != null">
        UNIT_NO,
      </if>
      <if test="qdczbs != null">
        QDCZBS,
      </if>
      <if test="qdczbsms != null">
        QDCZBSMS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loanapplyid != null">
        #{loanapplyid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idno != null">
        #{idno,jdbcType=VARCHAR},
      </if>
      <if test="shareamt != null">
        #{shareamt,jdbcType=NUMERIC},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="gdbh != null">
        #{gdbh,jdbcType=NUMERIC},
      </if>
      <if test="unitNo != null">
        #{unitNo,jdbcType=NUMERIC},
      </if>
      <if test="qdczbs != null">
        #{qdczbs,jdbcType=VARCHAR},
      </if>
      <if test="qdczbsms != null">
        #{qdczbsms,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wander.cmis.entity.ExchangeShareholderExample" resultType="java.lang.Integer">
    select count(*) from EXCHANGE_SHAREHOLDER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update EXCHANGE_SHAREHOLDER
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.loanapplyid != null">
        LOANAPPLYID = #{record.loanapplyid,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.idno != null">
        IDNO = #{record.idno,jdbcType=VARCHAR},
      </if>
      <if test="record.shareamt != null">
        SHAREAMT = #{record.shareamt,jdbcType=NUMERIC},
      </if>
      <if test="record.mobile != null">
        MOBILE = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.gdbh != null">
        GDBH = #{record.gdbh,jdbcType=NUMERIC},
      </if>
      <if test="record.unitNo != null">
        UNIT_NO = #{record.unitNo,jdbcType=NUMERIC},
      </if>
      <if test="record.qdczbs != null">
        QDCZBS = #{record.qdczbs,jdbcType=VARCHAR},
      </if>
      <if test="record.qdczbsms != null">
        QDCZBSMS = #{record.qdczbsms,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update EXCHANGE_SHAREHOLDER
    set ID = #{record.id,jdbcType=VARCHAR},
      LOANAPPLYID = #{record.loanapplyid,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      IDNO = #{record.idno,jdbcType=VARCHAR},
      SHAREAMT = #{record.shareamt,jdbcType=NUMERIC},
      MOBILE = #{record.mobile,jdbcType=VARCHAR},
      GDBH = #{record.gdbh,jdbcType=NUMERIC},
      UNIT_NO = #{record.unitNo,jdbcType=NUMERIC},
      QDCZBS = #{record.qdczbs,jdbcType=VARCHAR},
      QDCZBSMS = #{record.qdczbsms,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wander.cmis.entity.ExchangeShareholder">
    update EXCHANGE_SHAREHOLDER
    <set>
      <if test="loanapplyid != null">
        LOANAPPLYID = #{loanapplyid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idno != null">
        IDNO = #{idno,jdbcType=VARCHAR},
      </if>
      <if test="shareamt != null">
        SHAREAMT = #{shareamt,jdbcType=NUMERIC},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="gdbh != null">
        GDBH = #{gdbh,jdbcType=NUMERIC},
      </if>
      <if test="unitNo != null">
        UNIT_NO = #{unitNo,jdbcType=NUMERIC},
      </if>
      <if test="qdczbs != null">
        QDCZBS = #{qdczbs,jdbcType=VARCHAR},
      </if>
      <if test="qdczbsms != null">
        QDCZBSMS = #{qdczbsms,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wander.cmis.entity.ExchangeShareholder">
    update EXCHANGE_SHAREHOLDER
    set LOANAPPLYID = #{loanapplyid,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      IDNO = #{idno,jdbcType=VARCHAR},
      SHAREAMT = #{shareamt,jdbcType=NUMERIC},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      GDBH = #{gdbh,jdbcType=NUMERIC},
      UNIT_NO = #{unitNo,jdbcType=NUMERIC},
      QDCZBS = #{qdczbs,jdbcType=VARCHAR},
      QDCZBSMS = #{qdczbsms,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>