<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wander.cmis.mapper.ExchangeProjectLoanMapper">

    <update id="updateSync">
        update EXCHANGE_PROJECTLOAN set READTAG1 = 1 where id in
        <foreach collection="updateSyncList" close=")" open="(" separator="," item="item">
            #{item}
        </foreach>
    </update>
    <select id="selectByUnRead" resultType="com.wander.cmis.entity.ExchangeProjectLoan">
        SELECT
            *
        FROM
            EXCHANGE_PROJECTLOAN
        WHERE
            READTAG1 = 0
    </select>
</mapper>