<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wander.cmis.mapper.ExchangeCollateralinfoMapper">
  <resultMap id="BaseResultMap" type="com.wander.cmis.entity.ExchangeCollateralinfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="LOANAPPLYID" jdbcType="VARCHAR" property="loanapplyid" />
    <result column="ASSETOWNERTYPE" jdbcType="VARCHAR" property="assetownertype" />
    <result column="OWNER" jdbcType="VARCHAR" property="owner" />
    <result column="ASSETTYPE" jdbcType="VARCHAR" property="assettype" />
    <result column="MORTGAGENAME" jdbcType="VARCHAR" property="mortgagename" />
    <result column="MORTGAGEADDR" jdbcType="VARCHAR" property="mortgageaddr" />
    <result column="MORTGAGEAREA" jdbcType="VARCHAR" property="mortgagearea" />
    <result column="WARRANT" jdbcType="VARCHAR" property="warrant" />
    <result column="ASSESSVALUE" jdbcType="NUMERIC" property="assessvalue" />
    <result column="LANDPROPERTY" jdbcType="VARCHAR" property="landproperty" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="BUYDATE" jdbcType="VARCHAR" property="buydate" />
    <result column="COLLATERALAREA" jdbcType="VARCHAR" property="collateralarea" />
    <result column="COUNTY" jdbcType="VARCHAR" property="county" />
    <result column="STREET" jdbcType="VARCHAR" property="street" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, LOANAPPLYID, ASSETOWNERTYPE, OWNER, ASSETTYPE, MORTGAGENAME, MORTGAGEADDR, MORTGAGEAREA, 
    WARRANT, ASSESSVALUE, LANDPROPERTY, REMARK, BUYDATE, COLLATERALAREA, COUNTY, STREET
  </sql>
  <select id="selectByExample" parameterType="com.wander.cmis.entity.ExchangeCollateralinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from EXCHANGE_COLLATERALINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from EXCHANGE_COLLATERALINFO
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from EXCHANGE_COLLATERALINFO
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wander.cmis.entity.ExchangeCollateralinfoExample">
    delete from EXCHANGE_COLLATERALINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wander.cmis.entity.ExchangeCollateralinfo">
    insert into EXCHANGE_COLLATERALINFO (ID, LOANAPPLYID, ASSETOWNERTYPE, 
      OWNER, ASSETTYPE, MORTGAGENAME, 
      MORTGAGEADDR, MORTGAGEAREA, WARRANT, 
      ASSESSVALUE, LANDPROPERTY, REMARK, 
      BUYDATE, COLLATERALAREA, COUNTY, 
      STREET)
    values (#{id,jdbcType=VARCHAR}, #{loanapplyid,jdbcType=VARCHAR}, #{assetownertype,jdbcType=VARCHAR}, 
      #{owner,jdbcType=VARCHAR}, #{assettype,jdbcType=VARCHAR}, #{mortgagename,jdbcType=VARCHAR}, 
      #{mortgageaddr,jdbcType=VARCHAR}, #{mortgagearea,jdbcType=VARCHAR}, #{warrant,jdbcType=VARCHAR}, 
      #{assessvalue,jdbcType=NUMERIC}, #{landproperty,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{buydate,jdbcType=VARCHAR}, #{collateralarea,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, 
      #{street,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wander.cmis.entity.ExchangeCollateralinfo">
    insert into EXCHANGE_COLLATERALINFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="loanapplyid != null">
        LOANAPPLYID,
      </if>
      <if test="assetownertype != null">
        ASSETOWNERTYPE,
      </if>
      <if test="owner != null">
        OWNER,
      </if>
      <if test="assettype != null">
        ASSETTYPE,
      </if>
      <if test="mortgagename != null">
        MORTGAGENAME,
      </if>
      <if test="mortgageaddr != null">
        MORTGAGEADDR,
      </if>
      <if test="mortgagearea != null">
        MORTGAGEAREA,
      </if>
      <if test="warrant != null">
        WARRANT,
      </if>
      <if test="assessvalue != null">
        ASSESSVALUE,
      </if>
      <if test="landproperty != null">
        LANDPROPERTY,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="buydate != null">
        BUYDATE,
      </if>
      <if test="collateralarea != null">
        COLLATERALAREA,
      </if>
      <if test="county != null">
        COUNTY,
      </if>
      <if test="street != null">
        STREET,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loanapplyid != null">
        #{loanapplyid,jdbcType=VARCHAR},
      </if>
      <if test="assetownertype != null">
        #{assetownertype,jdbcType=VARCHAR},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="assettype != null">
        #{assettype,jdbcType=VARCHAR},
      </if>
      <if test="mortgagename != null">
        #{mortgagename,jdbcType=VARCHAR},
      </if>
      <if test="mortgageaddr != null">
        #{mortgageaddr,jdbcType=VARCHAR},
      </if>
      <if test="mortgagearea != null">
        #{mortgagearea,jdbcType=VARCHAR},
      </if>
      <if test="warrant != null">
        #{warrant,jdbcType=VARCHAR},
      </if>
      <if test="assessvalue != null">
        #{assessvalue,jdbcType=NUMERIC},
      </if>
      <if test="landproperty != null">
        #{landproperty,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="buydate != null">
        #{buydate,jdbcType=VARCHAR},
      </if>
      <if test="collateralarea != null">
        #{collateralarea,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="street != null">
        #{street,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wander.cmis.entity.ExchangeCollateralinfoExample" resultType="java.lang.Integer">
    select count(*) from EXCHANGE_COLLATERALINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update EXCHANGE_COLLATERALINFO
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.loanapplyid != null">
        LOANAPPLYID = #{record.loanapplyid,jdbcType=VARCHAR},
      </if>
      <if test="record.assetownertype != null">
        ASSETOWNERTYPE = #{record.assetownertype,jdbcType=VARCHAR},
      </if>
      <if test="record.owner != null">
        OWNER = #{record.owner,jdbcType=VARCHAR},
      </if>
      <if test="record.assettype != null">
        ASSETTYPE = #{record.assettype,jdbcType=VARCHAR},
      </if>
      <if test="record.mortgagename != null">
        MORTGAGENAME = #{record.mortgagename,jdbcType=VARCHAR},
      </if>
      <if test="record.mortgageaddr != null">
        MORTGAGEADDR = #{record.mortgageaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.mortgagearea != null">
        MORTGAGEAREA = #{record.mortgagearea,jdbcType=VARCHAR},
      </if>
      <if test="record.warrant != null">
        WARRANT = #{record.warrant,jdbcType=VARCHAR},
      </if>
      <if test="record.assessvalue != null">
        ASSESSVALUE = #{record.assessvalue,jdbcType=NUMERIC},
      </if>
      <if test="record.landproperty != null">
        LANDPROPERTY = #{record.landproperty,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.buydate != null">
        BUYDATE = #{record.buydate,jdbcType=VARCHAR},
      </if>
      <if test="record.collateralarea != null">
        COLLATERALAREA = #{record.collateralarea,jdbcType=VARCHAR},
      </if>
      <if test="record.county != null">
        COUNTY = #{record.county,jdbcType=VARCHAR},
      </if>
      <if test="record.street != null">
        STREET = #{record.street,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update EXCHANGE_COLLATERALINFO
    set ID = #{record.id,jdbcType=VARCHAR},
      LOANAPPLYID = #{record.loanapplyid,jdbcType=VARCHAR},
      ASSETOWNERTYPE = #{record.assetownertype,jdbcType=VARCHAR},
      OWNER = #{record.owner,jdbcType=VARCHAR},
      ASSETTYPE = #{record.assettype,jdbcType=VARCHAR},
      MORTGAGENAME = #{record.mortgagename,jdbcType=VARCHAR},
      MORTGAGEADDR = #{record.mortgageaddr,jdbcType=VARCHAR},
      MORTGAGEAREA = #{record.mortgagearea,jdbcType=VARCHAR},
      WARRANT = #{record.warrant,jdbcType=VARCHAR},
      ASSESSVALUE = #{record.assessvalue,jdbcType=NUMERIC},
      LANDPROPERTY = #{record.landproperty,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      BUYDATE = #{record.buydate,jdbcType=VARCHAR},
      COLLATERALAREA = #{record.collateralarea,jdbcType=VARCHAR},
      COUNTY = #{record.county,jdbcType=VARCHAR},
      STREET = #{record.street,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wander.cmis.entity.ExchangeCollateralinfo">
    update EXCHANGE_COLLATERALINFO
    <set>
      <if test="loanapplyid != null">
        LOANAPPLYID = #{loanapplyid,jdbcType=VARCHAR},
      </if>
      <if test="assetownertype != null">
        ASSETOWNERTYPE = #{assetownertype,jdbcType=VARCHAR},
      </if>
      <if test="owner != null">
        OWNER = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="assettype != null">
        ASSETTYPE = #{assettype,jdbcType=VARCHAR},
      </if>
      <if test="mortgagename != null">
        MORTGAGENAME = #{mortgagename,jdbcType=VARCHAR},
      </if>
      <if test="mortgageaddr != null">
        MORTGAGEADDR = #{mortgageaddr,jdbcType=VARCHAR},
      </if>
      <if test="mortgagearea != null">
        MORTGAGEAREA = #{mortgagearea,jdbcType=VARCHAR},
      </if>
      <if test="warrant != null">
        WARRANT = #{warrant,jdbcType=VARCHAR},
      </if>
      <if test="assessvalue != null">
        ASSESSVALUE = #{assessvalue,jdbcType=NUMERIC},
      </if>
      <if test="landproperty != null">
        LANDPROPERTY = #{landproperty,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="buydate != null">
        BUYDATE = #{buydate,jdbcType=VARCHAR},
      </if>
      <if test="collateralarea != null">
        COLLATERALAREA = #{collateralarea,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        COUNTY = #{county,jdbcType=VARCHAR},
      </if>
      <if test="street != null">
        STREET = #{street,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wander.cmis.entity.ExchangeCollateralinfo">
    update EXCHANGE_COLLATERALINFO
    set LOANAPPLYID = #{loanapplyid,jdbcType=VARCHAR},
      ASSETOWNERTYPE = #{assetownertype,jdbcType=VARCHAR},
      OWNER = #{owner,jdbcType=VARCHAR},
      ASSETTYPE = #{assettype,jdbcType=VARCHAR},
      MORTGAGENAME = #{mortgagename,jdbcType=VARCHAR},
      MORTGAGEADDR = #{mortgageaddr,jdbcType=VARCHAR},
      MORTGAGEAREA = #{mortgagearea,jdbcType=VARCHAR},
      WARRANT = #{warrant,jdbcType=VARCHAR},
      ASSESSVALUE = #{assessvalue,jdbcType=NUMERIC},
      LANDPROPERTY = #{landproperty,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      BUYDATE = #{buydate,jdbcType=VARCHAR},
      COLLATERALAREA = #{collateralarea,jdbcType=VARCHAR},
      COUNTY = #{county,jdbcType=VARCHAR},
      STREET = #{street,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>