<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wander.cmis.mapper.ExchangeGuarantorinfoMapper">
  <resultMap id="BaseResultMap" type="com.wander.cmis.entity.ExchangeGuarantorinfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="LOANAPPLYID" jdbcType="VARCHAR" property="loanapplyid" />
    <result column="GUARANTOR" jdbcType="VARCHAR" property="guarantor" />
    <result column="IDNO" jdbcType="VARCHAR" property="idno" />
    <result column="WORKUNITTYPE" jdbcType="VARCHAR" property="workunittype" />
    <result column="GUARANTORWORKUNIT" jdbcType="VARCHAR" property="guarantorworkunit" />
    <result column="DUTY" jdbcType="VARCHAR" property="duty" />
    <result column="GUARANTORUNITPHONE" jdbcType="VARCHAR" property="guarantorunitphone" />
    <result column="DEPOSIT" jdbcType="NUMERIC" property="deposit" />
    <result column="MONTHLYINCOME" jdbcType="NUMERIC" property="monthlyincome" />
    <result column="CONTACTWAY" jdbcType="VARCHAR" property="contactway" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="GUARANTORTYPE" jdbcType="VARCHAR" property="guarantortype" />
    <result column="YQCHJE" jdbcType="NUMERIC" property="yqchje"/>
    <result column="XYFZ" jdbcType="NUMERIC" property="xyfz" />
    <result column="GYRK" jdbcType="NUMERIC" property="gyrk" />
    <result column="DAFJ_ID" jdbcType="VARCHAR" property="adfjId" />
    <result column="DBRQZQK" jdbcType="VARCHAR" property="dbrqzqk" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, LOANAPPLYID, GUARANTOR, IDNO, WORKUNITTYPE, GUARANTORWORKUNIT, DUTY, GUARANTORUNITPHONE, 
    DEPOSIT, MONTHLYINCOME, CONTACTWAY, ADDRESS, GUARANTORTYPE
  </sql>
  <select id="selectByExample" parameterType="com.wander.cmis.entity.ExchangeGuarantorinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from EXCHANGE_GUARANTORINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from EXCHANGE_GUARANTORINFO
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from EXCHANGE_GUARANTORINFO
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wander.cmis.entity.ExchangeGuarantorinfoExample">
    delete from EXCHANGE_GUARANTORINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wander.cmis.entity.ExchangeGuarantorinfo">
    insert into EXCHANGE_GUARANTORINFO (ID, LOANAPPLYID, GUARANTOR, 
      IDNO, WORKUNITTYPE, GUARANTORWORKUNIT, 
      DUTY, GUARANTORUNITPHONE, DEPOSIT, 
      MONTHLYINCOME, CONTACTWAY, ADDRESS, 
      GUARANTORTYPE)
    values (#{id,jdbcType=VARCHAR}, #{loanapplyid,jdbcType=VARCHAR}, #{guarantor,jdbcType=VARCHAR}, 
      #{idno,jdbcType=VARCHAR}, #{workunittype,jdbcType=VARCHAR}, #{guarantorworkunit,jdbcType=VARCHAR}, 
      #{duty,jdbcType=VARCHAR}, #{guarantorunitphone,jdbcType=VARCHAR}, #{deposit,jdbcType=NUMERIC}, 
      #{monthlyincome,jdbcType=NUMERIC}, #{contactway,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{guarantortype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wander.cmis.entity.ExchangeGuarantorinfo">
    insert into EXCHANGE_GUARANTORINFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="loanapplyid != null">
        LOANAPPLYID,
      </if>
      <if test="guarantor != null">
        GUARANTOR,
      </if>
      <if test="idno != null">
        IDNO,
      </if>
      <if test="workunittype != null">
        WORKUNITTYPE,
      </if>
      <if test="guarantorworkunit != null">
        GUARANTORWORKUNIT,
      </if>
      <if test="duty != null">
        DUTY,
      </if>
      <if test="guarantorunitphone != null">
        GUARANTORUNITPHONE,
      </if>
      <if test="deposit != null">
        DEPOSIT,
      </if>
      <if test="monthlyincome != null">
        MONTHLYINCOME,
      </if>
      <if test="contactway != null">
        CONTACTWAY,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="guarantortype != null">
        GUARANTORTYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loanapplyid != null">
        #{loanapplyid,jdbcType=VARCHAR},
      </if>
      <if test="guarantor != null">
        #{guarantor,jdbcType=VARCHAR},
      </if>
      <if test="idno != null">
        #{idno,jdbcType=VARCHAR},
      </if>
      <if test="workunittype != null">
        #{workunittype,jdbcType=VARCHAR},
      </if>
      <if test="guarantorworkunit != null">
        #{guarantorworkunit,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="guarantorunitphone != null">
        #{guarantorunitphone,jdbcType=VARCHAR},
      </if>
      <if test="deposit != null">
        #{deposit,jdbcType=NUMERIC},
      </if>
      <if test="monthlyincome != null">
        #{monthlyincome,jdbcType=NUMERIC},
      </if>
      <if test="contactway != null">
        #{contactway,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="guarantortype != null">
        #{guarantortype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wander.cmis.entity.ExchangeGuarantorinfoExample" resultType="java.lang.Integer">
    select count(*) from EXCHANGE_GUARANTORINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update EXCHANGE_GUARANTORINFO
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.loanapplyid != null">
        LOANAPPLYID = #{record.loanapplyid,jdbcType=VARCHAR},
      </if>
      <if test="record.guarantor != null">
        GUARANTOR = #{record.guarantor,jdbcType=VARCHAR},
      </if>
      <if test="record.idno != null">
        IDNO = #{record.idno,jdbcType=VARCHAR},
      </if>
      <if test="record.workunittype != null">
        WORKUNITTYPE = #{record.workunittype,jdbcType=VARCHAR},
      </if>
      <if test="record.guarantorworkunit != null">
        GUARANTORWORKUNIT = #{record.guarantorworkunit,jdbcType=VARCHAR},
      </if>
      <if test="record.duty != null">
        DUTY = #{record.duty,jdbcType=VARCHAR},
      </if>
      <if test="record.guarantorunitphone != null">
        GUARANTORUNITPHONE = #{record.guarantorunitphone,jdbcType=VARCHAR},
      </if>
      <if test="record.deposit != null">
        DEPOSIT = #{record.deposit,jdbcType=NUMERIC},
      </if>
      <if test="record.monthlyincome != null">
        MONTHLYINCOME = #{record.monthlyincome,jdbcType=NUMERIC},
      </if>
      <if test="record.contactway != null">
        CONTACTWAY = #{record.contactway,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.guarantortype != null">
        GUARANTORTYPE = #{record.guarantortype,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update EXCHANGE_GUARANTORINFO
    set ID = #{record.id,jdbcType=VARCHAR},
      LOANAPPLYID = #{record.loanapplyid,jdbcType=VARCHAR},
      GUARANTOR = #{record.guarantor,jdbcType=VARCHAR},
      IDNO = #{record.idno,jdbcType=VARCHAR},
      WORKUNITTYPE = #{record.workunittype,jdbcType=VARCHAR},
      GUARANTORWORKUNIT = #{record.guarantorworkunit,jdbcType=VARCHAR},
      DUTY = #{record.duty,jdbcType=VARCHAR},
      GUARANTORUNITPHONE = #{record.guarantorunitphone,jdbcType=VARCHAR},
      DEPOSIT = #{record.deposit,jdbcType=NUMERIC},
      MONTHLYINCOME = #{record.monthlyincome,jdbcType=NUMERIC},
      CONTACTWAY = #{record.contactway,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      GUARANTORTYPE = #{record.guarantortype,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wander.cmis.entity.ExchangeGuarantorinfo">
    update EXCHANGE_GUARANTORINFO
    <set>
      <if test="loanapplyid != null">
        LOANAPPLYID = #{loanapplyid,jdbcType=VARCHAR},
      </if>
      <if test="guarantor != null">
        GUARANTOR = #{guarantor,jdbcType=VARCHAR},
      </if>
      <if test="idno != null">
        IDNO = #{idno,jdbcType=VARCHAR},
      </if>
      <if test="workunittype != null">
        WORKUNITTYPE = #{workunittype,jdbcType=VARCHAR},
      </if>
      <if test="guarantorworkunit != null">
        GUARANTORWORKUNIT = #{guarantorworkunit,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        DUTY = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="guarantorunitphone != null">
        GUARANTORUNITPHONE = #{guarantorunitphone,jdbcType=VARCHAR},
      </if>
      <if test="deposit != null">
        DEPOSIT = #{deposit,jdbcType=NUMERIC},
      </if>
      <if test="monthlyincome != null">
        MONTHLYINCOME = #{monthlyincome,jdbcType=NUMERIC},
      </if>
      <if test="contactway != null">
        CONTACTWAY = #{contactway,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="guarantortype != null">
        GUARANTORTYPE = #{guarantortype,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wander.cmis.entity.ExchangeGuarantorinfo">
    update EXCHANGE_GUARANTORINFO
    set LOANAPPLYID = #{loanapplyid,jdbcType=VARCHAR},
      GUARANTOR = #{guarantor,jdbcType=VARCHAR},
      IDNO = #{idno,jdbcType=VARCHAR},
      WORKUNITTYPE = #{workunittype,jdbcType=VARCHAR},
      GUARANTORWORKUNIT = #{guarantorworkunit,jdbcType=VARCHAR},
      DUTY = #{duty,jdbcType=VARCHAR},
      GUARANTORUNITPHONE = #{guarantorunitphone,jdbcType=VARCHAR},
      DEPOSIT = #{deposit,jdbcType=NUMERIC},
      MONTHLYINCOME = #{monthlyincome,jdbcType=NUMERIC},
      CONTACTWAY = #{contactway,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      GUARANTORTYPE = #{guarantortype,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>