<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wander.cmis.mapper.ExchangeCountyMapper">


    <select id="seleByCode" resultType="com.wander.cmis.entity.ExchangeCounty">
        select * from EXCHANGE_COUNTY
        where JYJCOUNTYID = #{domicile}
        and rownum = 1
    </select>
</mapper>