<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wander.cmis.mapper.ExchangePolguaappMapper">

    <update id="updateSuccess">
        UPDATE EXCHANGE_POLGUAAPP set readTag1 = 1,handingNo = #{p.handingNo}
        where id = #{id}
    </update>
    <select id="selectSyncAndNofail" resultType="com.wander.cmis.entity.ExchangePolguaapp">
        SELECT
            *
        FROM
            EXCHANGE_POLGUAAPP
        WHERE
            EXCHANGE_TYPE = 'TOJYJ'
        AND CLIENTTYPE = '01'
        AND rownum &lt;= 10
    </select>
    <select id="selectAuditStatus" resultType="com.wander.cmis.entity.ExchangePolguaapp">
        select exp.id,exp.applyno,exp.xwdauditresult,exp.xwdauditdate,exp.xwdauditadvice
        from EXCHANGE_POLGUAAPP  exp
        where  exp.READTAG2 = 0 and (exp.sourcetype = 'P' or exp.sourcetype = 'X')  order by exp.id
    </select>

    <select id="findByXwdOrjyjNo" parameterType="java.lang.String" resultType="com.wander.cmis.entity.ExchangePolguaapp">
        select * from EXCHANGE_POLGUAAPP exp where exp.handingNo = #{handingNo}
    </select>
    <select id="selectCompanySync" resultType="com.wander.cmis.entity.ExchangePolguaapp">
        SELECT
            *
        FROM
            EXCHANGE_POLGUAAPP
        WHERE
            EXCHANGE_TYPE = 'TOJYJ'
        AND CLIENTTYPE = '02'
        order by id
    </select>
    <select id="test" resultType="com.wander.cmis.entity.ExchangePolguaapp">
        SELECT
            *
        FROM
            EXCHANGE_POLGUAAPP
        WHERE
            EXCHANGE_TYPE = 'TOJYJ'
            AND CLIENTTYPE = '02'
       order by id
    </select>
    <select id="personalText" resultType="com.wander.cmis.entity.ExchangePolguaapp">
        SELECT
            *
        FROM
            exchange_polguaapp P
        WHERE
            P .clientname = '朱春阳'
    </select>
    <select id="selectByHitsoty" resultType="com.wander.cmis.entity.ExchangePolguaapp">
        SELECT
            *
        FROM
            EXCHANGE_POLGUAAPP
        WHERE
            READTAG1 = 0
        AND EXCHANGE_TYPE = 'TOJYJ'
        AND ROWNUM &lt;= 10
    </select>
    <select id="findByAppNoAndReadtag2" resultType="com.wander.cmis.entity.ExchangePolguaapp">
        SELECT
            *
        FROM
            EXCHANGE_POLGUAAPP
        WHERE
            APPLYNO = #{applyNo}
        AND READTAG2 IS NULL
        AND ROWNUM = 1
    </select>
    <update id="updateSync">
        update EXCHANGE_POLGUAAPP set READTAG2 = 1 where id =#{id}
    </update>
    <update id="updatePersonSyncStatus">
        UPDATE EXCHANGE_POLGUAAPP set PERSON_SYNC_STATUS = '1'
        WHERE id = #{id}
    </update>
    <update id="updateUnitSyncStatus">
        UPDATE EXCHANGE_POLGUAAPP set UNIT_SYNC_STATUS = '1'
        WHERE id = #{id}
    </update>
    <update id="updateList">
        UPDATE EXCHANGE_POLGUAAPP set readTag1 = 1
        where id in
        <foreach collection="updateList" item="item" close=")" open="(" separator=",">
            #{item}
        </foreach>
    </update>
</mapper>