<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wander.cmis.mapper.ExchangePolguaappMapper">

    <update id="updateSuccess">
        UPDATE EXCHANGE_POLGUAAPP set readTag1 = 1,handingNo = #{p.handingNo}
        where id = #{id}
    </update>
    <select id="selectSyncAndNofail" resultType="com.wander.cmis.entity.ExchangePolguaapp">
        SELECT
            *
        FROM
            EXCHANGE_POLGUAAPP
        WHERE
            EXCHANGE_TYPE = 'TOJYJ'
        AND CLIENTTYPE = '01'
        AND rownum &lt;= 10
    </select>
    <select id="selectAuditStatus" resultType="com.wander.cmis.entity.ExchangePolguaapp">
        select exp.applyno,exp.xwdauditresult,exp.xwdauditdate,exp.xwdauditadvice
        from EXCHANGE_POLGUAAPP  exp
        where  exp.READTAG1 = 0 and exp.sourcetype = 'P'
    </select>

    <select id="findByXwdOrjyjNo" parameterType="java.lang.String" resultType="com.wander.cmis.entity.ExchangePolguaapp">
        select * from EXCHANGE_POLGUAAPP exp where exp.handingNo = #{handingNo}
    </select>
    <select id="selectCompanySync" resultType="com.wander.cmis.entity.ExchangePolguaapp">
        SELECT
            *
        FROM
            EXCHANGE_POLGUAAPP
        WHERE
            EXCHANGE_TYPE = 'TOJYJ'
        AND CLIENTTYPE = '02'
        AND rownum &lt;= 10
    </select>

    <update id="updateSync">
        update EXCHANGE_POLGUAAPP set READTAG1 = 1 where id in
        <foreach collection="updateSyncList" close=")" open="(" separator="," item="item">
            #{item}
        </foreach>
    </update>
</mapper>