<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wander.cmis.mapper.ExchangeProjectLoanMapper">

    <update id="updateSync">
        update EXCHANGE_PROJECTLOAN set READTAG1 = 1 where id = #{id}
    </update>
    <select id="selectByUnRead" resultType="com.wander.cmis.entity.ExchangeProjectLoan">
        SELECT
            *
        FROM
            exchange_projectloan
        WHERE
            READTAG1 = 0
        ORDER BY
            ID
    </select>
</mapper>