<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wander.cmis.mapper.ExhangeProjectLoanMapper">
  <resultMap id="BaseResultMap" type="com.wander.cmis.entity.ExhangeProjectLoan">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="LOANAPPLYID" jdbcType="VARCHAR" property="loanapplyid" />
    <result column="JYID" jdbcType="VARCHAR" property="jyid" />
    <result column="FEERATE" jdbcType="NUMERIC" property="feerate" />
    <result column="GUARANTEEFEE" jdbcType="NUMERIC" property="guaranteefee" />
    <result column="LOANRATE" jdbcType="NUMERIC" property="loanrate" />
    <result column="LOANDATE" jdbcType="VARCHAR" property="loandate" />
    <result column="LOANORGANIZATIONNM" jdbcType="VARCHAR" property="loanorganizationnm" />
    <result column="READTAG1" jdbcType="NUMERIC" property="readtag1" />
    <result column="LOANAMOUNT" jdbcType="NUMERIC" property="loanamount" />
    <result column="ISDISCOUNT" jdbcType="VARCHAR" property="isdiscount" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, LOANAPPLYID, JYID, FEERATE, GUARANTEEFEE, LOANRATE, LOANDATE, LOANORGANIZATIONNM, 
    READTAG1, LOANAMOUNT, ISDISCOUNT, CREATETIME
  </sql>
  <select id="selectByExample" parameterType="com.wander.cmis.entity.ExhangeProjectLoanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from EXCHANGE_PROJECTLOAN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.wander.cmis.entity.ExhangeProjectLoanExample">
    delete from EXCHANGE_PROJECTLOAN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wander.cmis.entity.ExhangeProjectLoan">
    insert into EXCHANGE_PROJECTLOAN (ID, LOANAPPLYID, JYID, 
      FEERATE, GUARANTEEFEE, LOANRATE, 
      LOANDATE, LOANORGANIZATIONNM, READTAG1, 
      LOANAMOUNT, ISDISCOUNT, CREATETIME
      )
    values (#{id,jdbcType=VARCHAR}, #{loanapplyid,jdbcType=VARCHAR}, #{jyid,jdbcType=VARCHAR}, 
      #{feerate,jdbcType=NUMERIC}, #{guaranteefee,jdbcType=NUMERIC}, #{loanrate,jdbcType=NUMERIC}, 
      #{loandate,jdbcType=VARCHAR}, #{loanorganizationnm,jdbcType=VARCHAR}, #{readtag1,jdbcType=NUMERIC}, 
      #{loanamount,jdbcType=NUMERIC}, #{isdiscount,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wander.cmis.entity.ExhangeProjectLoan">
    insert into EXCHANGE_PROJECTLOAN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="loanapplyid != null">
        LOANAPPLYID,
      </if>
      <if test="jyid != null">
        JYID,
      </if>
      <if test="feerate != null">
        FEERATE,
      </if>
      <if test="guaranteefee != null">
        GUARANTEEFEE,
      </if>
      <if test="loanrate != null">
        LOANRATE,
      </if>
      <if test="loandate != null">
        LOANDATE,
      </if>
      <if test="loanorganizationnm != null">
        LOANORGANIZATIONNM,
      </if>
      <if test="readtag1 != null">
        READTAG1,
      </if>
      <if test="loanamount != null">
        LOANAMOUNT,
      </if>
      <if test="isdiscount != null">
        ISDISCOUNT,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loanapplyid != null">
        #{loanapplyid,jdbcType=VARCHAR},
      </if>
      <if test="jyid != null">
        #{jyid,jdbcType=VARCHAR},
      </if>
      <if test="feerate != null">
        #{feerate,jdbcType=NUMERIC},
      </if>
      <if test="guaranteefee != null">
        #{guaranteefee,jdbcType=NUMERIC},
      </if>
      <if test="loanrate != null">
        #{loanrate,jdbcType=NUMERIC},
      </if>
      <if test="loandate != null">
        #{loandate,jdbcType=VARCHAR},
      </if>
      <if test="loanorganizationnm != null">
        #{loanorganizationnm,jdbcType=VARCHAR},
      </if>
      <if test="readtag1 != null">
        #{readtag1,jdbcType=NUMERIC},
      </if>
      <if test="loanamount != null">
        #{loanamount,jdbcType=NUMERIC},
      </if>
      <if test="isdiscount != null">
        #{isdiscount,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wander.cmis.entity.ExhangeProjectLoanExample" resultType="java.lang.Integer">
    select count(*) from EXCHANGE_PROJECTLOAN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update EXCHANGE_PROJECTLOAN
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.loanapplyid != null">
        LOANAPPLYID = #{record.loanapplyid,jdbcType=VARCHAR},
      </if>
      <if test="record.jyid != null">
        JYID = #{record.jyid,jdbcType=VARCHAR},
      </if>
      <if test="record.feerate != null">
        FEERATE = #{record.feerate,jdbcType=NUMERIC},
      </if>
      <if test="record.guaranteefee != null">
        GUARANTEEFEE = #{record.guaranteefee,jdbcType=NUMERIC},
      </if>
      <if test="record.loanrate != null">
        LOANRATE = #{record.loanrate,jdbcType=NUMERIC},
      </if>
      <if test="record.loandate != null">
        LOANDATE = #{record.loandate,jdbcType=VARCHAR},
      </if>
      <if test="record.loanorganizationnm != null">
        LOANORGANIZATIONNM = #{record.loanorganizationnm,jdbcType=VARCHAR},
      </if>
      <if test="record.readtag1 != null">
        READTAG1 = #{record.readtag1,jdbcType=NUMERIC},
      </if>
      <if test="record.loanamount != null">
        LOANAMOUNT = #{record.loanamount,jdbcType=NUMERIC},
      </if>
      <if test="record.isdiscount != null">
        ISDISCOUNT = #{record.isdiscount,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update EXCHANGE_PROJECTLOAN
    set ID = #{record.id,jdbcType=VARCHAR},
      LOANAPPLYID = #{record.loanapplyid,jdbcType=VARCHAR},
      JYID = #{record.jyid,jdbcType=VARCHAR},
      FEERATE = #{record.feerate,jdbcType=NUMERIC},
      GUARANTEEFEE = #{record.guaranteefee,jdbcType=NUMERIC},
      LOANRATE = #{record.loanrate,jdbcType=NUMERIC},
      LOANDATE = #{record.loandate,jdbcType=VARCHAR},
      LOANORGANIZATIONNM = #{record.loanorganizationnm,jdbcType=VARCHAR},
      READTAG1 = #{record.readtag1,jdbcType=NUMERIC},
      LOANAMOUNT = #{record.loanamount,jdbcType=NUMERIC},
      ISDISCOUNT = #{record.isdiscount,jdbcType=VARCHAR},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>