<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wander.cmis.dao.ExtractapprovalapplyMapper">
  <resultMap id="BaseResultMap" type="com.wander.cmis.entity.Extractapprovalapply">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CREATEBY" jdbcType="VARCHAR" property="createby" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="DELETETIME" jdbcType="TIMESTAMP" property="deletetime" />
    <result column="ISDELETED" jdbcType="NUMERIC" property="isdeleted" />
    <result column="UPDATEBY" jdbcType="VARCHAR" property="updateby" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="VERSION" jdbcType="NUMERIC" property="version" />
    <result column="APPRSTATE" jdbcType="VARCHAR" property="apprstate" />
    <result column="BATCHNUMBER" jdbcType="VARCHAR" property="batchnumber" />
    <result column="OPERTIME" jdbcType="NUMERIC" property="opertime" />
    <result column="PROCESSINSTANCEID" jdbcType="VARCHAR" property="processinstanceid" />
    <result column="TOTAL" jdbcType="NUMERIC" property="total" />
    <result column="TOTALMONEY" jdbcType="NUMERIC" property="totalmoney" />
    <result column="OPERATOR_ID" jdbcType="VARCHAR" property="operatorId" />
    <result column="ORGANIZATION_ID" jdbcType="VARCHAR" property="organizationId" />
    <result column="POLICYFORMALLETTER_ID" jdbcType="VARCHAR" property="policyformalletterId" />
    <result column="ISCHECK" jdbcType="VARCHAR" property="ischeck" />
    <result column="ISSUPERVISE" jdbcType="VARCHAR" property="issupervise" />
    <result column="CURRENTFLOWNAME" jdbcType="VARCHAR" property="currentflowname" />
    <result column="ISFINISHED" jdbcType="VARCHAR" property="isfinished" />
    <result column="CLIENTTYPE" jdbcType="VARCHAR" property="clienttype" />
    <result column="ATTENTIONSTATUS" jdbcType="VARCHAR" property="attentionstatus" />
    <result column="ISPARTNERPROJECTS" jdbcType="NUMERIC" property="ispartnerprojects" />
    <result column="PROCESSKIND" jdbcType="VARCHAR" property="processkind" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.wander.cmis.entity.Extractapprovalapply">
    <result column="REMARK" jdbcType="CLOB" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, CREATEBY, CREATETIME, DELETETIME, ISDELETED, UPDATEBY, UPDATETIME, VERSION, APPRSTATE, 
    BATCHNUMBER, OPERTIME, PROCESSINSTANCEID, TOTAL, TOTALMONEY, OPERATOR_ID, ORGANIZATION_ID, 
    POLICYFORMALLETTER_ID, ISCHECK, ISSUPERVISE, CURRENTFLOWNAME, ISFINISHED, CLIENTTYPE, 
    ATTENTIONSTATUS, ISPARTNERPROJECTS, PROCESSKIND
  </sql>
  <sql id="Blob_Column_List">
    REMARK
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.wander.cmis.entity.ExtractapprovalapplyExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from EXTRACTAPPROVALAPPLY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.wander.cmis.entity.ExtractapprovalapplyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from EXTRACTAPPROVALAPPLY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from EXTRACTAPPROVALAPPLY
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from EXTRACTAPPROVALAPPLY
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wander.cmis.entity.ExtractapprovalapplyExample">
    delete from EXTRACTAPPROVALAPPLY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wander.cmis.entity.Extractapprovalapply">
    insert into EXTRACTAPPROVALAPPLY (ID, CREATEBY, CREATETIME, 
      DELETETIME, ISDELETED, UPDATEBY, 
      UPDATETIME, VERSION, APPRSTATE, 
      BATCHNUMBER, OPERTIME, PROCESSINSTANCEID, 
      TOTAL, TOTALMONEY, OPERATOR_ID, 
      ORGANIZATION_ID, POLICYFORMALLETTER_ID, ISCHECK, 
      ISSUPERVISE, CURRENTFLOWNAME, ISFINISHED, 
      CLIENTTYPE, ATTENTIONSTATUS, ISPARTNERPROJECTS, 
      PROCESSKIND, REMARK)
    values (#{id,jdbcType=VARCHAR}, #{createby,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{deletetime,jdbcType=TIMESTAMP}, #{isdeleted,jdbcType=NUMERIC}, #{updateby,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{version,jdbcType=NUMERIC}, #{apprstate,jdbcType=VARCHAR}, 
      #{batchnumber,jdbcType=VARCHAR}, #{opertime,jdbcType=NUMERIC}, #{processinstanceid,jdbcType=VARCHAR}, 
      #{total,jdbcType=NUMERIC}, #{totalmoney,jdbcType=NUMERIC}, #{operatorId,jdbcType=VARCHAR}, 
      #{organizationId,jdbcType=VARCHAR}, #{policyformalletterId,jdbcType=VARCHAR}, #{ischeck,jdbcType=VARCHAR}, 
      #{issupervise,jdbcType=VARCHAR}, #{currentflowname,jdbcType=VARCHAR}, #{isfinished,jdbcType=VARCHAR}, 
      #{clienttype,jdbcType=VARCHAR}, #{attentionstatus,jdbcType=VARCHAR}, #{ispartnerprojects,jdbcType=NUMERIC}, 
      #{processkind,jdbcType=VARCHAR}, #{remark,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.wander.cmis.entity.Extractapprovalapply">
    insert into EXTRACTAPPROVALAPPLY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="createby != null">
        CREATEBY,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="deletetime != null">
        DELETETIME,
      </if>
      <if test="isdeleted != null">
        ISDELETED,
      </if>
      <if test="updateby != null">
        UPDATEBY,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="apprstate != null">
        APPRSTATE,
      </if>
      <if test="batchnumber != null">
        BATCHNUMBER,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="processinstanceid != null">
        PROCESSINSTANCEID,
      </if>
      <if test="total != null">
        TOTAL,
      </if>
      <if test="totalmoney != null">
        TOTALMONEY,
      </if>
      <if test="operatorId != null">
        OPERATOR_ID,
      </if>
      <if test="organizationId != null">
        ORGANIZATION_ID,
      </if>
      <if test="policyformalletterId != null">
        POLICYFORMALLETTER_ID,
      </if>
      <if test="ischeck != null">
        ISCHECK,
      </if>
      <if test="issupervise != null">
        ISSUPERVISE,
      </if>
      <if test="currentflowname != null">
        CURRENTFLOWNAME,
      </if>
      <if test="isfinished != null">
        ISFINISHED,
      </if>
      <if test="clienttype != null">
        CLIENTTYPE,
      </if>
      <if test="attentionstatus != null">
        ATTENTIONSTATUS,
      </if>
      <if test="ispartnerprojects != null">
        ISPARTNERPROJECTS,
      </if>
      <if test="processkind != null">
        PROCESSKIND,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletetime != null">
        #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdeleted != null">
        #{isdeleted,jdbcType=NUMERIC},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=NUMERIC},
      </if>
      <if test="apprstate != null">
        #{apprstate,jdbcType=VARCHAR},
      </if>
      <if test="batchnumber != null">
        #{batchnumber,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=NUMERIC},
      </if>
      <if test="processinstanceid != null">
        #{processinstanceid,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        #{total,jdbcType=NUMERIC},
      </if>
      <if test="totalmoney != null">
        #{totalmoney,jdbcType=NUMERIC},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null">
        #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="policyformalletterId != null">
        #{policyformalletterId,jdbcType=VARCHAR},
      </if>
      <if test="ischeck != null">
        #{ischeck,jdbcType=VARCHAR},
      </if>
      <if test="issupervise != null">
        #{issupervise,jdbcType=VARCHAR},
      </if>
      <if test="currentflowname != null">
        #{currentflowname,jdbcType=VARCHAR},
      </if>
      <if test="isfinished != null">
        #{isfinished,jdbcType=VARCHAR},
      </if>
      <if test="clienttype != null">
        #{clienttype,jdbcType=VARCHAR},
      </if>
      <if test="attentionstatus != null">
        #{attentionstatus,jdbcType=VARCHAR},
      </if>
      <if test="ispartnerprojects != null">
        #{ispartnerprojects,jdbcType=NUMERIC},
      </if>
      <if test="processkind != null">
        #{processkind,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wander.cmis.entity.ExtractapprovalapplyExample" resultType="java.lang.Integer">
    select count(*) from EXTRACTAPPROVALAPPLY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update EXTRACTAPPROVALAPPLY
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createby != null">
        CREATEBY = #{record.createby,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deletetime != null">
        DELETETIME = #{record.deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isdeleted != null">
        ISDELETED = #{record.isdeleted,jdbcType=NUMERIC},
      </if>
      <if test="record.updateby != null">
        UPDATEBY = #{record.updateby,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null">
        UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null">
        VERSION = #{record.version,jdbcType=NUMERIC},
      </if>
      <if test="record.apprstate != null">
        APPRSTATE = #{record.apprstate,jdbcType=VARCHAR},
      </if>
      <if test="record.batchnumber != null">
        BATCHNUMBER = #{record.batchnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.opertime != null">
        OPERTIME = #{record.opertime,jdbcType=NUMERIC},
      </if>
      <if test="record.processinstanceid != null">
        PROCESSINSTANCEID = #{record.processinstanceid,jdbcType=VARCHAR},
      </if>
      <if test="record.total != null">
        TOTAL = #{record.total,jdbcType=NUMERIC},
      </if>
      <if test="record.totalmoney != null">
        TOTALMONEY = #{record.totalmoney,jdbcType=NUMERIC},
      </if>
      <if test="record.operatorId != null">
        OPERATOR_ID = #{record.operatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationId != null">
        ORGANIZATION_ID = #{record.organizationId,jdbcType=VARCHAR},
      </if>
      <if test="record.policyformalletterId != null">
        POLICYFORMALLETTER_ID = #{record.policyformalletterId,jdbcType=VARCHAR},
      </if>
      <if test="record.ischeck != null">
        ISCHECK = #{record.ischeck,jdbcType=VARCHAR},
      </if>
      <if test="record.issupervise != null">
        ISSUPERVISE = #{record.issupervise,jdbcType=VARCHAR},
      </if>
      <if test="record.currentflowname != null">
        CURRENTFLOWNAME = #{record.currentflowname,jdbcType=VARCHAR},
      </if>
      <if test="record.isfinished != null">
        ISFINISHED = #{record.isfinished,jdbcType=VARCHAR},
      </if>
      <if test="record.clienttype != null">
        CLIENTTYPE = #{record.clienttype,jdbcType=VARCHAR},
      </if>
      <if test="record.attentionstatus != null">
        ATTENTIONSTATUS = #{record.attentionstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.ispartnerprojects != null">
        ISPARTNERPROJECTS = #{record.ispartnerprojects,jdbcType=NUMERIC},
      </if>
      <if test="record.processkind != null">
        PROCESSKIND = #{record.processkind,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update EXTRACTAPPROVALAPPLY
    set ID = #{record.id,jdbcType=VARCHAR},
      CREATEBY = #{record.createby,jdbcType=VARCHAR},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      DELETETIME = #{record.deletetime,jdbcType=TIMESTAMP},
      ISDELETED = #{record.isdeleted,jdbcType=NUMERIC},
      UPDATEBY = #{record.updateby,jdbcType=VARCHAR},
      UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      VERSION = #{record.version,jdbcType=NUMERIC},
      APPRSTATE = #{record.apprstate,jdbcType=VARCHAR},
      BATCHNUMBER = #{record.batchnumber,jdbcType=VARCHAR},
      OPERTIME = #{record.opertime,jdbcType=NUMERIC},
      PROCESSINSTANCEID = #{record.processinstanceid,jdbcType=VARCHAR},
      TOTAL = #{record.total,jdbcType=NUMERIC},
      TOTALMONEY = #{record.totalmoney,jdbcType=NUMERIC},
      OPERATOR_ID = #{record.operatorId,jdbcType=VARCHAR},
      ORGANIZATION_ID = #{record.organizationId,jdbcType=VARCHAR},
      POLICYFORMALLETTER_ID = #{record.policyformalletterId,jdbcType=VARCHAR},
      ISCHECK = #{record.ischeck,jdbcType=VARCHAR},
      ISSUPERVISE = #{record.issupervise,jdbcType=VARCHAR},
      CURRENTFLOWNAME = #{record.currentflowname,jdbcType=VARCHAR},
      ISFINISHED = #{record.isfinished,jdbcType=VARCHAR},
      CLIENTTYPE = #{record.clienttype,jdbcType=VARCHAR},
      ATTENTIONSTATUS = #{record.attentionstatus,jdbcType=VARCHAR},
      ISPARTNERPROJECTS = #{record.ispartnerprojects,jdbcType=NUMERIC},
      PROCESSKIND = #{record.processkind,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=CLOB}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update EXTRACTAPPROVALAPPLY
    set ID = #{record.id,jdbcType=VARCHAR},
      CREATEBY = #{record.createby,jdbcType=VARCHAR},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      DELETETIME = #{record.deletetime,jdbcType=TIMESTAMP},
      ISDELETED = #{record.isdeleted,jdbcType=NUMERIC},
      UPDATEBY = #{record.updateby,jdbcType=VARCHAR},
      UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      VERSION = #{record.version,jdbcType=NUMERIC},
      APPRSTATE = #{record.apprstate,jdbcType=VARCHAR},
      BATCHNUMBER = #{record.batchnumber,jdbcType=VARCHAR},
      OPERTIME = #{record.opertime,jdbcType=NUMERIC},
      PROCESSINSTANCEID = #{record.processinstanceid,jdbcType=VARCHAR},
      TOTAL = #{record.total,jdbcType=NUMERIC},
      TOTALMONEY = #{record.totalmoney,jdbcType=NUMERIC},
      OPERATOR_ID = #{record.operatorId,jdbcType=VARCHAR},
      ORGANIZATION_ID = #{record.organizationId,jdbcType=VARCHAR},
      POLICYFORMALLETTER_ID = #{record.policyformalletterId,jdbcType=VARCHAR},
      ISCHECK = #{record.ischeck,jdbcType=VARCHAR},
      ISSUPERVISE = #{record.issupervise,jdbcType=VARCHAR},
      CURRENTFLOWNAME = #{record.currentflowname,jdbcType=VARCHAR},
      ISFINISHED = #{record.isfinished,jdbcType=VARCHAR},
      CLIENTTYPE = #{record.clienttype,jdbcType=VARCHAR},
      ATTENTIONSTATUS = #{record.attentionstatus,jdbcType=VARCHAR},
      ISPARTNERPROJECTS = #{record.ispartnerprojects,jdbcType=NUMERIC},
      PROCESSKIND = #{record.processkind,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wander.cmis.entity.Extractapprovalapply">
    update EXTRACTAPPROVALAPPLY
    <set>
      <if test="createby != null">
        CREATEBY = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletetime != null">
        DELETETIME = #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdeleted != null">
        ISDELETED = #{isdeleted,jdbcType=NUMERIC},
      </if>
      <if test="updateby != null">
        UPDATEBY = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=NUMERIC},
      </if>
      <if test="apprstate != null">
        APPRSTATE = #{apprstate,jdbcType=VARCHAR},
      </if>
      <if test="batchnumber != null">
        BATCHNUMBER = #{batchnumber,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=NUMERIC},
      </if>
      <if test="processinstanceid != null">
        PROCESSINSTANCEID = #{processinstanceid,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        TOTAL = #{total,jdbcType=NUMERIC},
      </if>
      <if test="totalmoney != null">
        TOTALMONEY = #{totalmoney,jdbcType=NUMERIC},
      </if>
      <if test="operatorId != null">
        OPERATOR_ID = #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null">
        ORGANIZATION_ID = #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="policyformalletterId != null">
        POLICYFORMALLETTER_ID = #{policyformalletterId,jdbcType=VARCHAR},
      </if>
      <if test="ischeck != null">
        ISCHECK = #{ischeck,jdbcType=VARCHAR},
      </if>
      <if test="issupervise != null">
        ISSUPERVISE = #{issupervise,jdbcType=VARCHAR},
      </if>
      <if test="currentflowname != null">
        CURRENTFLOWNAME = #{currentflowname,jdbcType=VARCHAR},
      </if>
      <if test="isfinished != null">
        ISFINISHED = #{isfinished,jdbcType=VARCHAR},
      </if>
      <if test="clienttype != null">
        CLIENTTYPE = #{clienttype,jdbcType=VARCHAR},
      </if>
      <if test="attentionstatus != null">
        ATTENTIONSTATUS = #{attentionstatus,jdbcType=VARCHAR},
      </if>
      <if test="ispartnerprojects != null">
        ISPARTNERPROJECTS = #{ispartnerprojects,jdbcType=NUMERIC},
      </if>
      <if test="processkind != null">
        PROCESSKIND = #{processkind,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wander.cmis.entity.Extractapprovalapply">
    update EXTRACTAPPROVALAPPLY
    set CREATEBY = #{createby,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      DELETETIME = #{deletetime,jdbcType=TIMESTAMP},
      ISDELETED = #{isdeleted,jdbcType=NUMERIC},
      UPDATEBY = #{updateby,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=NUMERIC},
      APPRSTATE = #{apprstate,jdbcType=VARCHAR},
      BATCHNUMBER = #{batchnumber,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=NUMERIC},
      PROCESSINSTANCEID = #{processinstanceid,jdbcType=VARCHAR},
      TOTAL = #{total,jdbcType=NUMERIC},
      TOTALMONEY = #{totalmoney,jdbcType=NUMERIC},
      OPERATOR_ID = #{operatorId,jdbcType=VARCHAR},
      ORGANIZATION_ID = #{organizationId,jdbcType=VARCHAR},
      POLICYFORMALLETTER_ID = #{policyformalletterId,jdbcType=VARCHAR},
      ISCHECK = #{ischeck,jdbcType=VARCHAR},
      ISSUPERVISE = #{issupervise,jdbcType=VARCHAR},
      CURRENTFLOWNAME = #{currentflowname,jdbcType=VARCHAR},
      ISFINISHED = #{isfinished,jdbcType=VARCHAR},
      CLIENTTYPE = #{clienttype,jdbcType=VARCHAR},
      ATTENTIONSTATUS = #{attentionstatus,jdbcType=VARCHAR},
      ISPARTNERPROJECTS = #{ispartnerprojects,jdbcType=NUMERIC},
      PROCESSKIND = #{processkind,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=CLOB}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wander.cmis.entity.Extractapprovalapply">
    update EXTRACTAPPROVALAPPLY
    set CREATEBY = #{createby,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      DELETETIME = #{deletetime,jdbcType=TIMESTAMP},
      ISDELETED = #{isdeleted,jdbcType=NUMERIC},
      UPDATEBY = #{updateby,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=NUMERIC},
      APPRSTATE = #{apprstate,jdbcType=VARCHAR},
      BATCHNUMBER = #{batchnumber,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=NUMERIC},
      PROCESSINSTANCEID = #{processinstanceid,jdbcType=VARCHAR},
      TOTAL = #{total,jdbcType=NUMERIC},
      TOTALMONEY = #{totalmoney,jdbcType=NUMERIC},
      OPERATOR_ID = #{operatorId,jdbcType=VARCHAR},
      ORGANIZATION_ID = #{organizationId,jdbcType=VARCHAR},
      POLICYFORMALLETTER_ID = #{policyformalletterId,jdbcType=VARCHAR},
      ISCHECK = #{ischeck,jdbcType=VARCHAR},
      ISSUPERVISE = #{issupervise,jdbcType=VARCHAR},
      CURRENTFLOWNAME = #{currentflowname,jdbcType=VARCHAR},
      ISFINISHED = #{isfinished,jdbcType=VARCHAR},
      CLIENTTYPE = #{clienttype,jdbcType=VARCHAR},
      ATTENTIONSTATUS = #{attentionstatus,jdbcType=VARCHAR},
      ISPARTNERPROJECTS = #{ispartnerprojects,jdbcType=NUMERIC},
      PROCESSKIND = #{processkind,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>