<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wander.cmis.dao.RepaymentplanMapper">
  <resultMap id="BaseResultMap" type="com.wander.cmis.entity.Repaymentplan">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CREATEBY" jdbcType="VARCHAR" property="createby" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="DELETETIME" jdbcType="TIMESTAMP" property="deletetime" />
    <result column="ISDELETED" jdbcType="NUMERIC" property="isdeleted" />
    <result column="UPDATEBY" jdbcType="VARCHAR" property="updateby" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="VERSION" jdbcType="NUMERIC" property="version" />
    <result column="COMPAMOUNT" jdbcType="NUMERIC" property="compamount" />
    <result column="COMPDATE" jdbcType="NUMERIC" property="compdate" />
    <result column="COMPINTEREST" jdbcType="NUMERIC" property="compinterest" />
    <result column="OVERDUEAMOUNT" jdbcType="NUMERIC" property="overdueamount" />
    <result column="OVERDUETS" jdbcType="NUMERIC" property="overduets" />
    <result column="RECOVERYAMOUNT" jdbcType="NUMERIC" property="recoveryamount" />
    <result column="RECOVERYDATE" jdbcType="NUMERIC" property="recoverydate" />
    <result column="RELEASEGUARAMOUNT" jdbcType="NUMERIC" property="releaseguaramount" />
    <result column="RELEASEGUARDATE" jdbcType="NUMERIC" property="releaseguardate" />
    <result column="REPAYMENTDATE" jdbcType="NUMERIC" property="repaymentdate" />
    <result column="REPAYMENTMONEY" jdbcType="NUMERIC" property="repaymentmoney" />
    <result column="SHOULDREPAYMENTCAPITAL" jdbcType="NUMERIC" property="shouldrepaymentcapital" />
    <result column="SHOULDREPAYMENTINTEREST" jdbcType="NUMERIC" property="shouldrepaymentinterest" />
    <result column="TENIOR" jdbcType="NUMERIC" property="tenior" />
    <result column="PROJECTLOAN_ID" jdbcType="VARCHAR" property="projectloanId" />
    <result column="PROJECTTOTALLIABILITY_ID" jdbcType="VARCHAR" property="projecttotalliabilityId" />
    <result column="ISSETTLE" jdbcType="NUMERIC" property="issettle" />
    <result column="ISAUTOSETTLE" jdbcType="NUMERIC" property="isautosettle" />
    <result column="ISSYNCH" jdbcType="VARCHAR" property="issynch" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, CREATEBY, CREATETIME, DELETETIME, ISDELETED, UPDATEBY, UPDATETIME, VERSION, COMPAMOUNT, 
    COMPDATE, COMPINTEREST, OVERDUEAMOUNT, OVERDUETS, RECOVERYAMOUNT, RECOVERYDATE, RELEASEGUARAMOUNT, 
    RELEASEGUARDATE, REPAYMENTDATE, REPAYMENTMONEY, SHOULDREPAYMENTCAPITAL, SHOULDREPAYMENTINTEREST, 
    TENIOR, PROJECTLOAN_ID, PROJECTTOTALLIABILITY_ID, ISSETTLE, ISAUTOSETTLE, ISSYNCH
  </sql>
  <select id="selectByExample" parameterType="com.wander.cmis.entity.RepaymentplanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from REPAYMENTPLAN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from REPAYMENTPLAN
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from REPAYMENTPLAN
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wander.cmis.entity.RepaymentplanExample">
    delete from REPAYMENTPLAN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wander.cmis.entity.Repaymentplan">
    insert into REPAYMENTPLAN (ID, CREATEBY, CREATETIME, 
      DELETETIME, ISDELETED, UPDATEBY, 
      UPDATETIME, VERSION, COMPAMOUNT, 
      COMPDATE, COMPINTEREST, OVERDUEAMOUNT, 
      OVERDUETS, RECOVERYAMOUNT, RECOVERYDATE, 
      RELEASEGUARAMOUNT, RELEASEGUARDATE, REPAYMENTDATE, 
      REPAYMENTMONEY, SHOULDREPAYMENTCAPITAL, 
      SHOULDREPAYMENTINTEREST, TENIOR, PROJECTLOAN_ID, 
      PROJECTTOTALLIABILITY_ID, ISSETTLE, ISAUTOSETTLE, 
      ISSYNCH)
    values (#{id,jdbcType=VARCHAR}, #{createby,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{deletetime,jdbcType=TIMESTAMP}, #{isdeleted,jdbcType=NUMERIC}, #{updateby,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{version,jdbcType=NUMERIC}, #{compamount,jdbcType=NUMERIC}, 
      #{compdate,jdbcType=NUMERIC}, #{compinterest,jdbcType=NUMERIC}, #{overdueamount,jdbcType=NUMERIC}, 
      #{overduets,jdbcType=NUMERIC}, #{recoveryamount,jdbcType=NUMERIC}, #{recoverydate,jdbcType=NUMERIC}, 
      #{releaseguaramount,jdbcType=NUMERIC}, #{releaseguardate,jdbcType=NUMERIC}, #{repaymentdate,jdbcType=NUMERIC}, 
      #{repaymentmoney,jdbcType=NUMERIC}, #{shouldrepaymentcapital,jdbcType=NUMERIC}, 
      #{shouldrepaymentinterest,jdbcType=NUMERIC}, #{tenior,jdbcType=NUMERIC}, #{projectloanId,jdbcType=VARCHAR}, 
      #{projecttotalliabilityId,jdbcType=VARCHAR}, #{issettle,jdbcType=NUMERIC}, #{isautosettle,jdbcType=NUMERIC}, 
      #{issynch,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wander.cmis.entity.Repaymentplan">
    insert into REPAYMENTPLAN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="createby != null">
        CREATEBY,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="deletetime != null">
        DELETETIME,
      </if>
      <if test="isdeleted != null">
        ISDELETED,
      </if>
      <if test="updateby != null">
        UPDATEBY,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="compamount != null">
        COMPAMOUNT,
      </if>
      <if test="compdate != null">
        COMPDATE,
      </if>
      <if test="compinterest != null">
        COMPINTEREST,
      </if>
      <if test="overdueamount != null">
        OVERDUEAMOUNT,
      </if>
      <if test="overduets != null">
        OVERDUETS,
      </if>
      <if test="recoveryamount != null">
        RECOVERYAMOUNT,
      </if>
      <if test="recoverydate != null">
        RECOVERYDATE,
      </if>
      <if test="releaseguaramount != null">
        RELEASEGUARAMOUNT,
      </if>
      <if test="releaseguardate != null">
        RELEASEGUARDATE,
      </if>
      <if test="repaymentdate != null">
        REPAYMENTDATE,
      </if>
      <if test="repaymentmoney != null">
        REPAYMENTMONEY,
      </if>
      <if test="shouldrepaymentcapital != null">
        SHOULDREPAYMENTCAPITAL,
      </if>
      <if test="shouldrepaymentinterest != null">
        SHOULDREPAYMENTINTEREST,
      </if>
      <if test="tenior != null">
        TENIOR,
      </if>
      <if test="projectloanId != null">
        PROJECTLOAN_ID,
      </if>
      <if test="projecttotalliabilityId != null">
        PROJECTTOTALLIABILITY_ID,
      </if>
      <if test="issettle != null">
        ISSETTLE,
      </if>
      <if test="isautosettle != null">
        ISAUTOSETTLE,
      </if>
      <if test="issynch != null">
        ISSYNCH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletetime != null">
        #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdeleted != null">
        #{isdeleted,jdbcType=NUMERIC},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=NUMERIC},
      </if>
      <if test="compamount != null">
        #{compamount,jdbcType=NUMERIC},
      </if>
      <if test="compdate != null">
        #{compdate,jdbcType=NUMERIC},
      </if>
      <if test="compinterest != null">
        #{compinterest,jdbcType=NUMERIC},
      </if>
      <if test="overdueamount != null">
        #{overdueamount,jdbcType=NUMERIC},
      </if>
      <if test="overduets != null">
        #{overduets,jdbcType=NUMERIC},
      </if>
      <if test="recoveryamount != null">
        #{recoveryamount,jdbcType=NUMERIC},
      </if>
      <if test="recoverydate != null">
        #{recoverydate,jdbcType=NUMERIC},
      </if>
      <if test="releaseguaramount != null">
        #{releaseguaramount,jdbcType=NUMERIC},
      </if>
      <if test="releaseguardate != null">
        #{releaseguardate,jdbcType=NUMERIC},
      </if>
      <if test="repaymentdate != null">
        #{repaymentdate,jdbcType=NUMERIC},
      </if>
      <if test="repaymentmoney != null">
        #{repaymentmoney,jdbcType=NUMERIC},
      </if>
      <if test="shouldrepaymentcapital != null">
        #{shouldrepaymentcapital,jdbcType=NUMERIC},
      </if>
      <if test="shouldrepaymentinterest != null">
        #{shouldrepaymentinterest,jdbcType=NUMERIC},
      </if>
      <if test="tenior != null">
        #{tenior,jdbcType=NUMERIC},
      </if>
      <if test="projectloanId != null">
        #{projectloanId,jdbcType=VARCHAR},
      </if>
      <if test="projecttotalliabilityId != null">
        #{projecttotalliabilityId,jdbcType=VARCHAR},
      </if>
      <if test="issettle != null">
        #{issettle,jdbcType=NUMERIC},
      </if>
      <if test="isautosettle != null">
        #{isautosettle,jdbcType=NUMERIC},
      </if>
      <if test="issynch != null">
        #{issynch,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wander.cmis.entity.RepaymentplanExample" resultType="java.lang.Integer">
    select count(*) from REPAYMENTPLAN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update REPAYMENTPLAN
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createby != null">
        CREATEBY = #{record.createby,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deletetime != null">
        DELETETIME = #{record.deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isdeleted != null">
        ISDELETED = #{record.isdeleted,jdbcType=NUMERIC},
      </if>
      <if test="record.updateby != null">
        UPDATEBY = #{record.updateby,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null">
        UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null">
        VERSION = #{record.version,jdbcType=NUMERIC},
      </if>
      <if test="record.compamount != null">
        COMPAMOUNT = #{record.compamount,jdbcType=NUMERIC},
      </if>
      <if test="record.compdate != null">
        COMPDATE = #{record.compdate,jdbcType=NUMERIC},
      </if>
      <if test="record.compinterest != null">
        COMPINTEREST = #{record.compinterest,jdbcType=NUMERIC},
      </if>
      <if test="record.overdueamount != null">
        OVERDUEAMOUNT = #{record.overdueamount,jdbcType=NUMERIC},
      </if>
      <if test="record.overduets != null">
        OVERDUETS = #{record.overduets,jdbcType=NUMERIC},
      </if>
      <if test="record.recoveryamount != null">
        RECOVERYAMOUNT = #{record.recoveryamount,jdbcType=NUMERIC},
      </if>
      <if test="record.recoverydate != null">
        RECOVERYDATE = #{record.recoverydate,jdbcType=NUMERIC},
      </if>
      <if test="record.releaseguaramount != null">
        RELEASEGUARAMOUNT = #{record.releaseguaramount,jdbcType=NUMERIC},
      </if>
      <if test="record.releaseguardate != null">
        RELEASEGUARDATE = #{record.releaseguardate,jdbcType=NUMERIC},
      </if>
      <if test="record.repaymentdate != null">
        REPAYMENTDATE = #{record.repaymentdate,jdbcType=NUMERIC},
      </if>
      <if test="record.repaymentmoney != null">
        REPAYMENTMONEY = #{record.repaymentmoney,jdbcType=NUMERIC},
      </if>
      <if test="record.shouldrepaymentcapital != null">
        SHOULDREPAYMENTCAPITAL = #{record.shouldrepaymentcapital,jdbcType=NUMERIC},
      </if>
      <if test="record.shouldrepaymentinterest != null">
        SHOULDREPAYMENTINTEREST = #{record.shouldrepaymentinterest,jdbcType=NUMERIC},
      </if>
      <if test="record.tenior != null">
        TENIOR = #{record.tenior,jdbcType=NUMERIC},
      </if>
      <if test="record.projectloanId != null">
        PROJECTLOAN_ID = #{record.projectloanId,jdbcType=VARCHAR},
      </if>
      <if test="record.projecttotalliabilityId != null">
        PROJECTTOTALLIABILITY_ID = #{record.projecttotalliabilityId,jdbcType=VARCHAR},
      </if>
      <if test="record.issettle != null">
        ISSETTLE = #{record.issettle,jdbcType=NUMERIC},
      </if>
      <if test="record.isautosettle != null">
        ISAUTOSETTLE = #{record.isautosettle,jdbcType=NUMERIC},
      </if>
      <if test="record.issynch != null">
        ISSYNCH = #{record.issynch,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update REPAYMENTPLAN
    set ID = #{record.id,jdbcType=VARCHAR},
      CREATEBY = #{record.createby,jdbcType=VARCHAR},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      DELETETIME = #{record.deletetime,jdbcType=TIMESTAMP},
      ISDELETED = #{record.isdeleted,jdbcType=NUMERIC},
      UPDATEBY = #{record.updateby,jdbcType=VARCHAR},
      UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      VERSION = #{record.version,jdbcType=NUMERIC},
      COMPAMOUNT = #{record.compamount,jdbcType=NUMERIC},
      COMPDATE = #{record.compdate,jdbcType=NUMERIC},
      COMPINTEREST = #{record.compinterest,jdbcType=NUMERIC},
      OVERDUEAMOUNT = #{record.overdueamount,jdbcType=NUMERIC},
      OVERDUETS = #{record.overduets,jdbcType=NUMERIC},
      RECOVERYAMOUNT = #{record.recoveryamount,jdbcType=NUMERIC},
      RECOVERYDATE = #{record.recoverydate,jdbcType=NUMERIC},
      RELEASEGUARAMOUNT = #{record.releaseguaramount,jdbcType=NUMERIC},
      RELEASEGUARDATE = #{record.releaseguardate,jdbcType=NUMERIC},
      REPAYMENTDATE = #{record.repaymentdate,jdbcType=NUMERIC},
      REPAYMENTMONEY = #{record.repaymentmoney,jdbcType=NUMERIC},
      SHOULDREPAYMENTCAPITAL = #{record.shouldrepaymentcapital,jdbcType=NUMERIC},
      SHOULDREPAYMENTINTEREST = #{record.shouldrepaymentinterest,jdbcType=NUMERIC},
      TENIOR = #{record.tenior,jdbcType=NUMERIC},
      PROJECTLOAN_ID = #{record.projectloanId,jdbcType=VARCHAR},
      PROJECTTOTALLIABILITY_ID = #{record.projecttotalliabilityId,jdbcType=VARCHAR},
      ISSETTLE = #{record.issettle,jdbcType=NUMERIC},
      ISAUTOSETTLE = #{record.isautosettle,jdbcType=NUMERIC},
      ISSYNCH = #{record.issynch,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wander.cmis.entity.Repaymentplan">
    update REPAYMENTPLAN
    <set>
      <if test="createby != null">
        CREATEBY = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletetime != null">
        DELETETIME = #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdeleted != null">
        ISDELETED = #{isdeleted,jdbcType=NUMERIC},
      </if>
      <if test="updateby != null">
        UPDATEBY = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=NUMERIC},
      </if>
      <if test="compamount != null">
        COMPAMOUNT = #{compamount,jdbcType=NUMERIC},
      </if>
      <if test="compdate != null">
        COMPDATE = #{compdate,jdbcType=NUMERIC},
      </if>
      <if test="compinterest != null">
        COMPINTEREST = #{compinterest,jdbcType=NUMERIC},
      </if>
      <if test="overdueamount != null">
        OVERDUEAMOUNT = #{overdueamount,jdbcType=NUMERIC},
      </if>
      <if test="overduets != null">
        OVERDUETS = #{overduets,jdbcType=NUMERIC},
      </if>
      <if test="recoveryamount != null">
        RECOVERYAMOUNT = #{recoveryamount,jdbcType=NUMERIC},
      </if>
      <if test="recoverydate != null">
        RECOVERYDATE = #{recoverydate,jdbcType=NUMERIC},
      </if>
      <if test="releaseguaramount != null">
        RELEASEGUARAMOUNT = #{releaseguaramount,jdbcType=NUMERIC},
      </if>
      <if test="releaseguardate != null">
        RELEASEGUARDATE = #{releaseguardate,jdbcType=NUMERIC},
      </if>
      <if test="repaymentdate != null">
        REPAYMENTDATE = #{repaymentdate,jdbcType=NUMERIC},
      </if>
      <if test="repaymentmoney != null">
        REPAYMENTMONEY = #{repaymentmoney,jdbcType=NUMERIC},
      </if>
      <if test="shouldrepaymentcapital != null">
        SHOULDREPAYMENTCAPITAL = #{shouldrepaymentcapital,jdbcType=NUMERIC},
      </if>
      <if test="shouldrepaymentinterest != null">
        SHOULDREPAYMENTINTEREST = #{shouldrepaymentinterest,jdbcType=NUMERIC},
      </if>
      <if test="tenior != null">
        TENIOR = #{tenior,jdbcType=NUMERIC},
      </if>
      <if test="projectloanId != null">
        PROJECTLOAN_ID = #{projectloanId,jdbcType=VARCHAR},
      </if>
      <if test="projecttotalliabilityId != null">
        PROJECTTOTALLIABILITY_ID = #{projecttotalliabilityId,jdbcType=VARCHAR},
      </if>
      <if test="issettle != null">
        ISSETTLE = #{issettle,jdbcType=NUMERIC},
      </if>
      <if test="isautosettle != null">
        ISAUTOSETTLE = #{isautosettle,jdbcType=NUMERIC},
      </if>
      <if test="issynch != null">
        ISSYNCH = #{issynch,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wander.cmis.entity.Repaymentplan">
    update REPAYMENTPLAN
    set CREATEBY = #{createby,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      DELETETIME = #{deletetime,jdbcType=TIMESTAMP},
      ISDELETED = #{isdeleted,jdbcType=NUMERIC},
      UPDATEBY = #{updateby,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=NUMERIC},
      COMPAMOUNT = #{compamount,jdbcType=NUMERIC},
      COMPDATE = #{compdate,jdbcType=NUMERIC},
      COMPINTEREST = #{compinterest,jdbcType=NUMERIC},
      OVERDUEAMOUNT = #{overdueamount,jdbcType=NUMERIC},
      OVERDUETS = #{overduets,jdbcType=NUMERIC},
      RECOVERYAMOUNT = #{recoveryamount,jdbcType=NUMERIC},
      RECOVERYDATE = #{recoverydate,jdbcType=NUMERIC},
      RELEASEGUARAMOUNT = #{releaseguaramount,jdbcType=NUMERIC},
      RELEASEGUARDATE = #{releaseguardate,jdbcType=NUMERIC},
      REPAYMENTDATE = #{repaymentdate,jdbcType=NUMERIC},
      REPAYMENTMONEY = #{repaymentmoney,jdbcType=NUMERIC},
      SHOULDREPAYMENTCAPITAL = #{shouldrepaymentcapital,jdbcType=NUMERIC},
      SHOULDREPAYMENTINTEREST = #{shouldrepaymentinterest,jdbcType=NUMERIC},
      TENIOR = #{tenior,jdbcType=NUMERIC},
      PROJECTLOAN_ID = #{projectloanId,jdbcType=VARCHAR},
      PROJECTTOTALLIABILITY_ID = #{projecttotalliabilityId,jdbcType=VARCHAR},
      ISSETTLE = #{issettle,jdbcType=NUMERIC},
      ISAUTOSETTLE = #{isautosettle,jdbcType=NUMERIC},
      ISSYNCH = #{issynch,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>